<app-nav></app-nav>
<section style="background-color: black;">
    <div class="col-md-10 offset-md-1 mt-5 ">
<h3 style="color: orangered;" class="text-center"> Suppliers</h3>
  <br>
  <table class="table text-white text-center ">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Role</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ord of list; index as i">
        <th scope="row">{{i}}</th>
        <td>{{ord.UserName}}</td>
        <td>{{ord.Role}}</td>
        <td> <button style="background-color: orangered; color: white;" (click)="delete(ord.id)"> Delete </button></td>
      </tr>
      
    </tbody>
  </table>
    <br>
    <form [formGroup]="newSup" style="color: white;" (ngSubmit)="onSubmit()">

        <label for="username" style="padding-right: 20px;">Username: </label>
        <input id="username" type="text" formControlName="username" style="background-color: black;color: white; ">
      
        <label for="password" style="padding-left: 50px;padding-right: 20px;"> Password: </label>
        <input id="password" type="text" formControlName="password" style="background-color: black;color: white;">

        <label for="text" style="padding-right: 20px;padding-left: 50px;"> Role: </label>
        <input id="text" type="text" formControlName="role" style="background-color: black;color: white;">
        <button style="background-color: orangered; color: white;" type="submit" > Add </button>
      </form>
    </div>
</section>
