
  td{
    text-align: center;
  }
  th{
    text-align: center;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
 
  h3.orange-text{
    color: orangered;
    text-align: center;
  }