<app-nav></app-nav>
<div id="main">
  <h6 style="color: rgba(21, 255, 0, 0.658) ;">{{date}}</h6>
  <br>
  <br>
  <div class="card text-center " style="background-color: black;">
    <div class="card-header">
      <h3 class="orange-text">Quote of the Day</h3>
    </div>
    <div class="card-body">

      <p class="card-text text-white" aria-setsize="20px">{{quote}}</p>

    </div>

  </div>

  <br>
  <br>
  <div>
    <h3 class="orange-text"> Parties in progress</h3>
    <br>
    <table class="table text-white text-center">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Date</th>
          <th scope="col">Paiement</th>
          <th scope="col">pourcentage of completed sub-orders</th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngFor="let ord of incompleted_orders; index as i">

        <tr>
          <th scope="row">{{i}}</th>
          <td>{{ord.order_Date}}</td>
          <td>{{ord.paid}}</td>
          <td>{{pourcentage_table[i]}}'%</td>
          <td > <button style="background-color: orangered; color: white;" (click)="completePay(ord)">
              Archive </button></td>

        </tr>

      </tbody>
    </table>
  </div>
</div>